# Logs
logs
*.log
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Production environment
.env.production
.env.test

# Coverage reports (agar testing use karte ho)
coverage

# Temporary files
tmp
*.tmp

# Logs aur pid files
pids
*.pid
*.seed

# OS specific
Thumbs.db
